nav, nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0 10px;
}

body {
    margin: 0;
}

nav ul {
    margin-left: auto;
    list-style-type: none;
    gap: 8px;
}

h1 {
    color: red;
}